.Rproj.user
.Rhistory
.RData
.Ruserdata
/RDatas_constructor/RDatas/
/RDatas_constructor/annofuns/*.RData
/RDatas_constructor/annotations/annotations/
/RDatas_constructor/annotations/raw_data/
/RDatas_constructor/pathways/dme/
/RDatas_constructor/pathways/hsa/
/RDatas_constructor/pathways/mmu/
/RDatas_constructor/pathways/rno/
/RDatas_constructor/xref/.Rhistory
/RDatas_constructor/xref/dme/
/RDatas_constructor/xref/hsa/
/RDatas_constructor/xref/mmu/
/RDatas_constructor/xref/rno/
/code_develop/diseases/CTDfiles/*.csv
/code_develop/diseases/CTDfiles/*.csv.gz
/code_develop/diseases/GO_diseases.RData
/code_develop/diseases/annotations_disease_subpathways.RData
/code_develop/diseases/disease_halmarks_annotations_Cankut/
/code_develop/diseases/diseases_genes.RData
/code_develop/diseases/diseases_pathways.RData
/code_develop/diseases/list_of_annotated_diseases.RData
